*{
	margin:0;
	padding:0;
	font-family: 'Oldenburg';
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display:block;
	clear: both;
}

ul{
	list-style: none;
}

header{
	background-color: lightgray;
	opacity: 0.9;
	width: 100%;
	height: 80px;
	z-index: 99;
	font-size: 20px;
	position: fixed;

}

.header-list-item{ 
	line-height: 80px;
	display: table-cell;
	text-align: center;
	width:100%;
	font-weight: bold;
	color: white;
}

a:hover{
	color: green;
}

a{
	color: white;
}


#pan{
	width:60px;
	height:40px;

}
.header-list {
	width:100%;
	display: table;
	table-layout: fixed;
}

#top-wrapper{
	width:100%;
	padding-top: 80px;
	height: 750px;
	background-image:url("C:/Users/さやか/Desktop/SayakaMatsuba/last/img/680928_m_wi/top.jpg");
	}

.container{
	margin:0 auto;
	padding-top:200px;
}
.top-text{
	font-size: 50px;
	padding:40px 0px;
	background-color: rgba(211,211,211,0.5);
	text-align: center;
}

.section-title{
	height:150px;
	background-image: url("C:/Users/さやか/Desktop/SayakaMatsuba.github.io/last/img/34abc9fc2dee044f85054b15c2153a08_m.jpg");
	background-size: cover;
	opacity: 0.5;
}
	
h2{
	font-size: 60px;
	font-weight:bold;
	letter-spacing: 5px;
	text-align: center;
	color: white;
	line-height: 150px;
	margin-bottom: 100px;

}

.contents-wrapper{
	padding-top:100px;
}

.concept p{
	text-align: center;
	line-height: 50px;
}

.contents-title  {
	text-align: center;
	font-size: 35px;
	border-bottom: 2px solid lightgray;
	margin:50px 0px;

}

.contents {
	margin-bottom: 100px;
}

.contents2 li{
	float:none;
	margin:50px 0;
}

.contents1 {
	float:left;
	width:40%;

}

.contents2 {
	float: right;
	width:40%

}

.twoColumn{
	height: 700px;
	margin:100px;
}

.news{
	width:300px;
	height: 200px;
}

hr{
	border:1px solid lightgray;

}

em{
	color: #EF487D;
}

h4 {
	font-size: 50px;
	border-bottom:1px solid lightgray;
}

.items img{
	width: 150px;
	height: 150px;
	
}

h5{
	font-size: 15px;
}

h6{
	font-size: 20px;
	display: inline-block;
	margin-bottom: 10px;
	border-bottom: 2px solid green;
}

.btn{
	padding: 8px 24px;
	border:2px solid black;
	color: black;
	font-weight: bold;
}

.fa{
	margin-right: 5px;
}

.btn:hover{
	background-color: black;
	color:white;
	border-color: white;
}

.footer-wrapper{
	height: 80px;
	background-color: black;
	color: white;
	font-size: 20px;
	text-align: center;
}

.access-contents{
	height:600px;
	width:100%;
	margin:50px;
	position: relative;

}

.shopimg{
	height:200px;
	width:300px;
	/*position: absolute;*/
	
}

.map{
	width: 100%;

}

a{
	text-decoration: none;
	
}
.shoping-box{
	height: 450px;
	float: left;
	margin-right:50px;
}

.item-container{
	height: 500px;

}

ul.bxslider li {
  // 指定したい幅と高さ
  width: 500px;
  height: 300px;
  position: relative;
}
ul.bxslider li img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 300px;
  width: 500px;
  margin: 0 auto;
  
}
.season{
	color:orange;
}

.brank{
	height: 80px;
	width: 100%;
}

.footer-left{
	float: left;
	padding-left: 50px;

}

.footer-right{
	float: right;
	font-size: 15px;

}
